/* 容器样式 */
.n-top{
  width:100%;
  height:105px;
}
.n-top>div:first-child{
  background:#242424;
  border-bottom: 1px solid #000;  
}
.n-top>div:last-child{
  background-color:rgb(194, 12, 12);
  border-bottom-color:rgb(164, 0, 17);
}
/* 第一行导航栏 */
.n-top>div:first-child a{
  width:157px;
  padding-right:20px;
  height:69px;
  background:url("../img/topbar.png") no-repeat 0;
}