a{
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
/* *********容器 */
.player{
  position:fixed;
  bottom:0;left:0;
  width:100%;
  height:53px;
}
/* ***********背景 */
.player .bg{
  position: absolute;
  left:0;top:0;bottom:0;right:0;
  height:53px;
  margin-right:67px;
  background:url("../img/playbar.png") repeat-x 0 0;
}
/* ************容器 */
.player .container{
  position: relative;
  top:6px;
  width:980px;
  height:47px;
  margin:0 auto;
}
/* **************控制 */
.player .control1,
.player .control2,
.player .control3,
.player .control4{
  float:left;
}
.player .control1{
  width:137px;
}
.player .control1 a{
  /* display:inline-block; */
  float:left;
  width:28px;
  height:28px;
  margin-top:10px;
  margin-right:8px;
  background:url("../img/playbar.png") no-repeat 0 -130px;
}

.player .control1 a.prev:hover{
  background-position:-30px -130px;
}
.player .control1 a.play{
  width:36px;
  height:36px;
  margin-top:6px;
  background-position:0 -204px;
}
.player .control1 a.play:hover{
  background-position:-40px -204px;
}
.player .control1 a.play.suspend{
  background-position:0 -165px;
}
.player .control1 a.play.suspend:hover{
  background-position:-40px -165px;
}
.player .control1 a.next{
  background-position:-80px -130px;
}
.player .control1 a.next:hover{
  background-position:-110px -130px;
}

/* ******************cover */
.player .control2 .cover{
  float:left;
  width:34px;
  height:35px;
  margin-top:6px;
  margin-right:15px;
  position: relative;
}
.player .control2 .cover img{
  width:100%;
}
.player .control2 .cover a{
  position: absolute;
  left:0;right:0;top:0;bottom:0;
  background:url("../img/playbar.png") no-repeat 0 -80px;
}
/* *********************info */
.player .control2 .info{
  float:left;
}
.player .control2 .info .song_info{
  height:28px;
  line-height: 28px;
}
.player .control2 .info .song_info:after{
  content:"";
  display: block;
  clear: both;
}
.player .control2 .info .song,
.player .control2 .info .artist,
.player .control2 .info .mv,
.player .control2 .info .src{
  /* display:inline-block; */
  float:left;
}

.player .control2 .info .song,
.player .control2 .info .artist{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  font-size:12px;
}
.player .control2 .info .song{
  max-width: 300px;
  color:#e8e8e8;
}
.player .control2 .info .artist{
  margin-left:15px;
  max-width: 220px;
  color:#9b9b9b;
}
.player .control2 .info .mv{
  width:19px;
  height:17px;
  margin-top:6px;
  margin-left:3px;
  background:url("../img/playbar.png") no-repeat -20px -57px;
}
.player .control2 .info .src{
  width:14px;
  height:15px;
  margin-top:7px;
  margin-left:13px;
  background:url("../img/playbar.png") no-repeat -130px -103px;
}
/* *************playbar */
.player .control2 {
  width:657px;
}
.player .control2 .play_box{
  position: relative;
  width:493px;
}
.player .control2 .playbar{
  width:493px;
  height:9px;
  background:url("../img/statbar.png") no-repeat right 0;
}
.player .control2 .playbar .rdy{
  width:0%;
  height:100%;
  background:url("../img/statbar.png") no-repeat right -30px;
}
.player .control2 .playbar .cur{
  position: absolute;
  left:0;top:0;
  width:0%;
  height:9px;
  background:url("../img/statbar.png") no-repeat left -66px;
}
.player .control2 .playbar .cur .circle{
  float:right;
  width:22px;
  height:24px;
  margin-right:-13px;
  margin-top:-8px;
  background: url("../img/iconall.png") no-repeat 0 -250px;
}
.player .control2 .playbar .cur .circle:hover{
  background-position:0 -280px;
}
.player .control2 .playbar .cur .circle .loading{
  margin-left:5px;
  margin-top:5px;
  display:none;
}
.player .control2 .playbar .cur .circle .loading.active{
  display:inline-block;
}

.player .control2 .play_box .time {
  position: absolute;
  top:-6px;
  right:-90px;
  color:#797979;
  font-size:12px;
}
.player .control2 .play_box .time em{
  color:#a1a1a1;
  font-style:normal;
}
/* ****************收藏 分享 */
.player .control3 {
  width:60px;
  height:36px;
}
.player .control3 span{
  /* display: inline-block; */
  float:left;
  margin-top:11px;
  margin-left:2px;
  width:25px;
  height:25px;
  background:url("../img/playbar.png") no-repeat -88px -163px;
}
.player .control3 span:first-child:hover{
  background-position:-88px -189px;
} 
.player .control3 span:last-child{
  background-position:-114px -163px;
}
.player .control3 span:last-child:hover{
  background-position:-114px -189px;
}
/* *****************音量 等 */
.player .control4{
  width:113px;
  height:36px;
  padding-left:13px;
  background:url("../img/playbar.png") no-repeat -147px -238px;
}
.player .control4>span,
.player .control4>div{
  float:left;
  width:25px;
  height:25px;
}
.player .control4 .vol,
.player .control4 .loop,
.player .control4 .add{
  margin-top:11px;
  margin-right:2px;
  background:url("../img/playbar.png") no-repeat -88px -163px;
}
.player .control4 .vol{
  position: relative;
  background-position:-2px -248px
}
.player .control4 .vol:hover{
  background-position:-31px -248px;
}
.player .control4 .vol>.bg{
  display: none;
  position: absolute;
  top:-124px;
  width:32px;
  height:113px;
  background:url("../img/playbar.png") no-repeat 0 -503px;
  z-index:1;
}
.player .control4 .vol>.bg>div{
  position: absolute;
  bottom:9px;left:14.9px;
  width:4px;
  height:50px;
  max-height:82%;
  min-height:0px;
  background:url("../img/playbar.png") no-repeat -40px bottom;
}
.player .control4 .vol>.bg .circle{
  display: block;
  position: absolute;
  width:18px;
  height:20px;
  left:-7px;top:-3px;
  background:url("../img/iconall.png") no-repeat -40px -280px;
}
.player .control4 .loop{
  background-position:-3px -344px;
}
.player .control4 .loop:hover{
  background-position:-33px -344px;
}
.player .control4 .add{
  display: inline-block;
  width:38px;
  height:25px;
  padding-left:21px;
  background-position:-42px -68px;
  color: #666;
  text-align:center;
  font-size:12px;
  line-height:27px;
}
.player .control4 .add:hover{
  background-position:-42px -98px;
}
.player .control4 .add_box{
  position: relative;
  width:59px;
  height:36px;
}
.player .control4 .add_box .tip{
  display: none;
  /* display: block; */
  position: absolute;
  top:-51px;left:-65px;
  width:152px;
  height:49px;
  background:url("../img/playbar.png") no-repeat 0 -287px;
  text-align: center;
  color: #fff;
  font-size:12px;
  line-height:37px;
  z-index:2;
}
/* **************************锁 */
.player .lock{
  position: absolute;
  right:0;top:-14px;
  width:67px;
  height:67px;
  background:url("../img/playbar.png") no-repeat 0 -380px;
}
.player .lock a{
  display:block;
  width:18px;
  height:18px;
  background:url("../img/playbar.png") no-repeat -100px -400px;
  /* background:url("../img/playbar.png") no-repeat -80px -380px; */
  margin-left:17px;
  margin-top:6px;
}

/* ***************************list 歌曲列表，歌词 */
.player .list{
  position: absolute;
  bottom:47px;left:50%;
  transform:translate(-50%);
  width:986px;
  height:301px;
  overflow: hidden;
}
.player .list .head{
  width:100%;
  padding:0 5px;
  height:41px;
  background:url("../img/playlist_bg.png") no-repeat 0 0;
}
.player .list .body{
  width:100%;
  height:260px;
  background:url("../img/playlist_bg.png") repeat-y -1014px 0;
}
/* ***********************list head */
/* ***********公共样式 */
.player .list .keep_all i,
.player .list .clear_all i{
  display: inline-block;
  width:16px;
  height:16px;
  background: url("../img/playlist.png") no-repeat -24px 0;
}
/* *************** */
.player .list .play_list{
  margin-left:25px;
  color:#e2e2e2;
  font-size: 14px;
  line-height: 39px;
  font-weight:700;
}
.player .list .keep_all{
  display:inline-block;
  /* position: absolute; */
  color:#ccc;
  font-size: 12px;
  line-height: 15px;
  margin-left:270px;
}
.player .list .keep_all i{
  float:left;
  margin-right:6px;
}
.player .list .keep_all:hover i{
  background-position: -24px -20px;
}
.player .list .clear_all{
  display:inline-block;
  
  color:#ccc;
  font-size: 12px;
  line-height: 15px;
  
}
.player .list .clear_all i{
  float:left;
  width:13px;
  margin-right:6px;
  background-position: -51px 0;
}
.player .list .clear_all:hover i{
  background-position: -51px -20px;
}
.player .list .head .song_name{
  display:inline-block;
  position: absolute;
  top:10px;
  left:585px;
  width:346px;
  text-align:center;
  color:#fff;
  font-size:14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.player .list .line{
  height:15px;
  margin: 0 7px 0 5px;
  border-left:1px solid #000;
  border-right:1px solid #2c2c2c;
}
.player .list .close{
  float:right;
  width:30px;
  height:30px;
  margin-top:5px;
  margin-right:10px;
  background:url("../img/playlist.png") no-repeat -195px 9px;
}
.player .list .close:hover{
  background-position: -195px -21px;
}

/* **********************list body */
.player .body {
  position: relative;
  overflow: hidden;
}
.player .body .song_cover{
  position: absolute;
  left:2px;top:-360px;
  width:980px;
  opacity: .2;
}
.player .body .song_list{
  position: absolute;
  left:2px;
  width:553px;
  height:260px;
  background:rgba(18,18,18,.5);
  /* opacity: .5; */
}
.player .body .bline{
  width:6px;
  height:100%;
  position: absolute;
  top:0;
  left:555px;
  background:#000;
}
.player .body .bline.active div{
  display: block;
}
.player .body .bline div{
  width:4px;
  height:50px;
  position: absolute;
  left: 0;top:0;
  border-radius:5px;
  border: 1px solid #a6a6a6;
  background:#868686;
  cursor:pointer;
  opacity:.8;
  display:none;
}
/* ***********************歌曲列表 */
.player .body .song_list .empty{
  position: absolute;
  left:0;top:0;right:0;bottom:0;
  width:100%;height:86px;
  margin:auto;
  color:#aaa;
  font-size:12px;
  text-align: center;
}
.player .body .song_list .empty p:first-child{
  height:36px;
  line-height: 29px;
}
.player .body .song_list .empty i{
  /* float:left; */
  display: inline-block;
  width:36px;
  height:29px;
  margin-right:8px;
  vertical-align: middle;
  background:url("../img/playlist.png") no-repeat -138px 0;
}
.player .body .song_list .empty a{
  color:#aaa;
  text-decoration: underline;
}
.player .body .song_ul{
  position: absolute;
  left:0;top:0;
  width:100%;
  /* height:100%; */
}
.player .body .song_li{
  width:100%; 
  color:#ccc;
}
.player .body .song_li:hover{
  background:rgba(0,0,0,.4);
  color:#fff;
}
.player .body .song_li:after{
  content: '';
  display: block;
  clear: both;
}
.player .body .song_li>div{
  float:left;
  font-size:12px;
  height:28px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left:10px;
}
.player .body .song_li .playing{
  width:10px;
  height:13px;
  margin-top:9px;
  padding-left:0;
  margin-left:10px;
}
.player .body .song_li.active {
  background-color: rgba(0,0,0,.3);
}
.player .body .song_li.active .playing{
  background: url("../img/playlist.png") no-repeat -182px 0;
}
.player .body .song_li .song_name{
  width:256px;
  cursor:pointer;
}
.player .body .song_li .icons{
  width:78px;
  position: relative;
  visibility: hidden;
}
.player .body .song_li:hover .icons{
  visibility: visible;
}
.player .body .song_li .icons>div{
  width:100px;
  height: 28px;
  position: absolute;
  left:-12px;
}
.player .body .song_li .icons i{
  float:right;
  width:16px;
  height:16px;
  margin-top:7px;
  margin-left:10px;
  background:url("../img/playlist.png") no-repeat 0 0;
}
.player .body .song_li .icons .delete{
  width:13px;
  background-position: -51px 0;
}
.player .body .song_li .icons .delete:hover{
  width:13px;
  background-position: -51px -20px;
}
.player .body .song_li .icons .download{
  width:14px;
  background-position: -57px -50px;
}
.player .body .song_li .icons .download:hover{
  width:14px;
  background-position: -80px -50px;
}
.player .body .song_li .icons .share{
  width:14px;
}
.player .body .song_li .icons .share:hover{
  width:14px;
  background-position: 0 -20px;
}
.player .body .song_li .icons .keep{
  background-position: -24px 0;
}
.player .body .song_li .icons .keep:hover{
  background-position: -24px -20px;
}
.player .body .song_li .song_art{
  width:70px;
}
.player .body .song_li .song_art a{
  color:#ccc;
}
.player .body .song_li:hover .song_art a{
  color:#fff;
}
.player .body .song_li .song_time{
  width:35px;
  cursor:pointer;
}
.player .body .song_li .song_src{
  width:37px;
  padding-left:6px;
  position: relative;
}
.player .body .song_li .song_src a{
  display:block;
  width:14px;
  height:16px;
  /* position: absolute; */
  /* left:0;top:0;right:0;bottom:0; */
  margin-top:7px;
  float:right;
  text-indent: -9999px;
  background:url("../img/playlist.png") no-repeat -80px 0px;
}
.player .body .song_li .song_src a:hover{
  background-position: -80px -20px;
}

/* ***********************歌词 */
.player .body .lyric_box{
  position: absolute;
  top:0;left:561px;
  width:420px;
  height:260px;
}
.player .body .lyric{
  position: absolute;
  left:0;top:0;right:0;bottom:0;
  margin:auto;
  width:354px;
  height:219px;
  text-align:center;
  color:#989898;
  line-height: 32px;
  font-size:12px;
  overflow: hidden;
}
.player .body .lyric .pBox{
  position: relative;
  /* transition:top .8s; */
}
.player .body .lyric .pBox.active{
  transition:top .8s;
}
.player .body .lyric p{
  min-height:32px;
  transition:color .7s;
}
.player .body .lyric p.active{
  /* transform:scale(1.1); */
  font-size:14px;
  color:#fff;
}
.player .body .lyric p a{
  color:#c2c2c2
}
.player .body .bline-2{
  left:auto;
  right:2px;
}
/* .player .body .bline-2 div{
  transition: top .8s;
} */
.player .body .bline-2 div.active{
  transition: top .8s;
}
.player .body .bline-2.active div{
  display: block;
}